.mario {
  width: 68px;
  height: 68px;
  display: block;
  position: relative;
  background: url('file:///C:/Users/Dell/Desktop/Все%20папки/вшэ/веб%20вёрстка/animation/image/mario-walk-n-jump-68.png');
  animation: walk .4s steps(1)  infinite;
}


@keyframes walk {
  0% {background-position:   0px top;}
  25% {background-position:  -68px top;}
  75% {background-position:  -136px top;}
  100% {background-position:  -204px top;}
}
